/* 
	2column.css

	overrides a couple of styles in overall.css and content.css so that a page can have a 
	fixed width left-hand column and a liquid content block on the remaining portion of the page.
*/

#ps-main-content {
	margin: 0 5px 0 310px;	/* left margin should be a little larger than the ps-main-column width */
}

/* this is the container for the left column. you shouldn't apply padding or margins to this. 
   use inner content/block divs to control padding, etc. */
#ps-main-column {
	display: inline;
	float: left;
	width: 300px;
}

.ps-column-frame {

	margin-left: 1em;
	margin-bottom: 1em;
}
.ps-column-sep {
	margin-left: 1em;
	margin-bottom: 0.5em;
	border-top: 1px dashed gray;
}
.ps-column-sep2 {
	margin-left: 1em;
	margin-bottom: 0.5em;
	overflow: hidden;
}
.ps-column-sep2 p,
.ps-column-sep p 
{
	text-align: center;
	font-size: 80%;
	color: #666;
}

.ps-column-header {
	line-height: 19px;
	/* background: url(../img/table-header-bg.png) repeat; */
	background: url(../img/some-header.png) repeat;
	padding: 0 0.3em;
  border-top: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
}
.ps-column-header span {
	display: block;
	width: 100%;
	background: url(../img/exp_minus.gif) no-repeat 100% 50%;
	cursor: pointer;
}
.s-closed .ps-column-header span { 
	background: url(../img/exp_plus.gif) no-repeat 100% 50%;
}
.s-closed .ps-column-content {
	display: none;
}

.ps-column-header a,
.ps-column-header a:link,
.ps-column-header a:visited,
.ps-column-header a:hover,
.ps-column-header a:active
{ 
}

.ps-column-content {
  border-top: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #000000;

	font-size: 100%;
	clear: both;
}
.ps-column-content p
{
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid black;

	line-height: 1.5em;
	padding: 0.1em 0.3em 0 0.3em;
	clear: left;			/* IE7 */
	min-height: 1.5em;
}
.ps-column-content p.hl
{
  border-bottom: none;
}
.ps-column-content p.substat  {
	margin-left: 1.5em;
	border: none;
}
.ps-column-content p.selected {
	background: #4a4a4a;
}

.ps-column-content p label {		/* stat label */
	width: 50%; /* 70% */
	float: left;
	font-weight: bold;
}
.ps-column-content p span {		/* stat value */
	text-align: right;
	display: block;
/*	float: right;*/
}
.ps-column-content p em .pct-bar {
	position: relative;
	top: 4px;
}
.ps-column-content p em .pct-bar,	/* Fix the pct-bar on 2column pages (player.php) */
.ps-column-content p em .pct-bar span
{
	float: none;
	text-align: left;
}
.ps-column-content p em {		/* stat% */
/*
	padding-right: 2em;
*/
	font-size: 0.8em;
	font-style: normal;
	color: gray;
	float: left;
	text-align: right;
	width: 4em;
}
.ps-column-content p.firstrow { border: none; }

.ps-column-content p.substat label {
	font-weight: normal;
	width: 50%;
}

/* override the label style for the player ID lists on player.php */
#ps-id-plripaddr p label,
#ps-id-plrname p label,
#ps-id-plrworldid p label {
	width: 75%;
	font-weight: normal;
}
#ps-id-plripaddr p.firstrow label,
#ps-id-plrname p.firstrow label,
#ps-id-plrworldid p.firstrow label {
	font-weight: bold;
	width: 50%;
}

.ps-column-content p.even {
	background-color: #2a2a2a;
}

/* --- CLEAR FLOATS ------------ */
#ps-main-column:after, 
#ps-main-content:after,
.ps-column-content p:after,
.spacer:after
{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

* html #ps-main-content,
* html .ps-column-content p 
{ 
	height:1%; 
}

